@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --primary: #258cfb;
    --primary-dark: #4168C9;
    --black: #000000;
    --white: #ffffff;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --body: #fefefe;
}


html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--body);
}

/* Button styles */
.btn{
    border-radius: 8px;
}
.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}
.btn-primary{
    background-color: var(--primary);
}
.btn-primary:hover {
   background-color: var(--primary-dark);
}
.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

/* Navbar styles */
.navbar{
    padding: 20px 0;
}
.navbar-brand {
    font-weight: bold;
    color: var(--black);
    /*font-size: 22px;*/
}
.nav-link {
    margin-left: 35px;
    color: var(--gray-1);
}
.navbar-nav .nav-link.active{
    font-weight: 700;
    color: var(--black);
}


/* Section Style */
section.hero{
    padding: 0px 0;
}
section.hero .text .title{
    font-weight: 800;
    font-size: 48px;
    color: var(--black);
}




/* Responsiveness */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}