@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rentopolis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rentopolis.styles.css" asp-append-version="true" />
</head>
<body>

    @* <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Logo -->
            <h1>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Rentopolis</a>
            </h1>

            @if (isAuthenticated)
            {
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>

                </ul>

                <!-- User Avatar -->
                <div class="dropdown ml-auto">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log Out</a></li>
                    </ul>
                </div>
            }
            @if (!isAuthenticated)
            {  
                <!-- Login Button -->
                <div class="ml-auto">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
                </div>
            }
        </div>
    </header> *@

    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Rentopolis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Listings</a>
                    <a class="nav-link" href="#">My Rentals</a>
                    <a class="nav-link me-5" href="#">Favorites</a>
                </div>
                @if (!isAuthenticated)
                {
                    <!-- Sign in button -->
                    <a class="btn btn-outline-secondary shadow-sm d-sm d-block" asp-controller="Account" asp-action="Login">Sign In</a>
                }
                @if (isAuthenticated)
                {
                    @* <a class="btn btn-outline-secondary shadow-sm d-sm d-block" >Sign In</a> *@
                    <!-- User Avatar -->
                    <div class="dropdown ml-auto">
                        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            User
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log Out</a></li>
                        </ul>
                    </div>
                    
                }
            </div>

        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center">
            &copy; 2024 - Rentopolis
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
