@model Rentopolis.Models.Entitiy.PasswordViewModel


@* container *@
<div class="p-5 my-5 rounded border border-1" style="box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.23); margin-left:120px; margin-right:120px;">

    <h4 class="mb-4 fw-bold">
        <i class="fa-solid fa-key me-1"></i>
        Change Password
    </h4>

    @* displaying error messages *@
    @if (ViewBag.Success == false)
    {
        <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show px-4" role="alert" style="font-size:14px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="m-0">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Operation Failed
                @if (TempData.ContainsKey("changeError"))
                {
                    <br />
                    <ul>
                        <li>@TempData["changeError"]</li>
                    </ul>
                    TempData.Remove("changeError");
                }
            </p>
        </div>
    }

    <!-- Form -->
    <form method="post" asp-action="ChangePassword">

        @* id *@
        <input asp-for="Id" type="text" hidden/>

        @* old password *@
        <label asp-for="OldPassword" class="form-label text-muted mb-1" style="font-size: 13px;"></label>
        <input asp-for="OldPassword" class="form-control mb-2" type="text" />

        @* new password *@
        <label asp-for="NewPassword" class="form-label text-muted mb-1" style="font-size: 13px;"></label>
        <input asp-for="NewPassword" class="form-control mb-2" type="text" />

        @* confirm new password *@
        <label asp-for="ConfirmNewPassword" class="form-label text-muted mb-1" style="font-size: 13px;"></label>
        <input asp-for="ConfirmNewPassword" class="form-control mb-2" type="text" />

        <br />

        @* button *@
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveChangesModal">Save Changes</a>
        </div>

        <!-- Save Changes Modal -->
        <div class="modal fade" id="saveChangesModal" tabindex="-1" role="dialog" aria-labelledby="saveChangesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveChangesModalLabel">Change Password</h5>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to change your password?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Yes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>