@model Rentopolis.Models.Entitiy.PasswordViewModel

@if (ViewBag.Success == false)
{
    <div asp-validation-summary="All" class="alert alert-danger">
        @if (ViewBag.Message != null)
        {
            <ul> <li>@ViewBag.Message</li> </ul>
        }
    </div>
}

@if (TempData.ContainsKey("successMessage"))
{
    <div asp-validation-summary="All" class="alert alert-success">
        <li>Password changed successfully!</li>
    </div>
    TempData.Remove("successMessage");
}

    <form method="post" asp-action="ChangePassword">

        @* id *@
        <input asp-for="Id" type="text" hidden/>

        @* old password *@
        <label asp-for="OldPassword" class="form-label"></label>
        <input asp-for="OldPassword" class="form-control" type="text" />

        @* new password *@
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" type="text" />

        @* confirm new password *@
        <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="text" />

        <br />

        @* button *@
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveChangesModal">Save Changes</a>

        <!-- Modal -->
        <div class="modal fade" id="saveChangesModal" tabindex="-1" role="dialog" aria-labelledby="saveChangesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveChangesModalLabel">Change Password</h5>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to change your password?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Yes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

    </form>