@model Rentopolis.Models.Entitiy.UpdateUserInfoViewModel

<h1 class="bg-dark text-white">Edit Profile</h1>

<div asp-validation-summary="All" class="text-danger">
    @if (TempData["errorMessage"] != null)
    {
        <p>@TempData["errorMessage"]</p>
    }
</div>

<form method="post" enctype="multipart/form-data" asp-action="EditProfile">

    @* id *@
    <div class="form-group">
        <label asp-for="Id" hidden></label>
        <input asp-for="Id" class="form-control" type="text" hidden/>
    </div>
    
    @* first name *@
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" type="text" />
    </div>

    @* last name *@
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" type="text" />
    </div>

    @* email *@
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="email" />
    </div>

    @* user name *@
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" type="text" />
    </div>

    @* profile input *@
    <div class="form-group">
        <label asp-for="ProfilePic" for="formFile" class="form-label"></label>
        <input asp-for="ProfilePic" class="form-control" type="file" id="formFile">
    </div>

    <br />

    @* update button *@
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
        @if (User.IsInRole("Landlord") || User.IsInRole("Tenant"))
        {
            <a class="btn btn-danger" asp-action="DeleteProfile" asp-controller="Account" asp-route-id="@Model.Id">Delete</a>
        }
    </div>

</form>