@model Rentopolis.Models.Entitiy.UpdateUserInfoViewModel


@* container *@
<div class="p-5 my-5 rounded border border-1" style="box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.23); margin-left:120px; margin-right:120px;">

    <h4 class="mb-4 fw-bold">
        <i class="fa-solid fa-user-pen me-1"></i>
        Edit Profile
    </h4>

    @* displaying error messages *@
    @if (ViewBag.Success == false)
    {
        <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show px-4" role="alert" style="font-size:14px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p class="m-0">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Operation Failed
                @if (TempData.ContainsKey("editError"))
                {
                    <br />
                    <ul>
                        <li>@TempData["editError"]</li>
                    </ul>
                    TempData.Remove("editError");
                }
            </p>
        </div>
    }

    <!-- Form -->
    <form method="post" enctype="multipart/form-data" asp-action="EditProfile">

        @* first and last name *@
        <div class="d-flex justify-content-start align-items-center gap-5 mb-4">

            <div class="d-flex flex-column align-items-start flex-grow-1 gap-1">
                <label class="text-muted " asp-for="FirstName" style="font-size: 13px;"></label>
                <input asp-for="FirstName" class="form-control" type="text" />
            </div>

            <div class="d-flex flex-column align-items-start flex-grow-1 gap-1">
                <label class="text-muted" asp-for="LastName" style="font-size: 13px;"></label>
                <input asp-for="LastName" class="form-control" type="text" />
            </div>

        </div>

        @* user name and email *@
        <div class="d-flex justify-content-start align-items-center gap-5 mb-3">

            <div class="d-flex flex-column align-items-start flex-grow-1 gap-1">
                <label class="text-muted" asp-for="UserName" style="font-size: 13px;"></label>
                <input asp-for="UserName" class="form-control" type="text" />
            </div>

            <div class="d-flex flex-column align-items-start flex-grow-1 gap-1">
                <label class="text-muted" asp-for="Email" style="font-size: 13px;"></label>
                <input asp-for="Email" class="form-control" type="email" />
            </div>

        </div>

        @* photo *@
        <div class="d-flex flex-column mb-3 gap-1">
            <label style="font-size: 13px;" asp-for="ProfilePic" for="formFile" class="form-label text-muted mb-0"></label>
            <input asp-for="ProfilePic" class="form-control" type="file" id="formFile">
        </div>

        <br/>

        @* button *@
        <div class="d-flex justify-content-end gap-3">
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
            <a class="btn btn-secondary" asp-action="MyProfile" asp-controller="Account" asp-route-id="@Model.Id">Cancel</a>
        </div>

        <!-- Update Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Confirmation</h5>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to save the changes?</p>
                    </div>
                    <div class="modal-footer gap-2">
                        <button class="btn btn-success" type="submit">Yes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>