
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LG</title>
</head>
<body>
    Hello this is the new login page
</body>
</html>
