@model Rentopolis.Models.Entitiy.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/loginStyles.css" asp-append-version="true" />
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="containr">
            <!-- Image -->
            <div class="image-box">
                <div class="text">
                    <p>Rediscover Your Urban Rental Experience!</p>
                    <p class="italic">
                        <a asp-controller="Home" asp-action="Index">Rentopolis</a>
                    </p>
                </div>
            </div>

            <!-- Form -->
            <div class="form-box">

                <h1 class="header">Login Account</h1>

                @if (ViewBag.Success == false)
                {
                    <div asp-validation-summary="All" class="alert alert-danger" >
                        @if (ViewBag.Message != null)
                        {
                            <ul> <li>@ViewBag.Message</li> </ul>
                        }
                    </div>
                }

                @if (TempData.ContainsKey("successMessage"))
                {
                    <div asp-validation-summary="All" class="alert alert-success" >
                        <li>Registered successfully!</li>
                    </div>
                    TempData.Remove("successMessage");
                }

                <form method="post" asp-action="Login">

                    <div class="input-field">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="input" type="text" />
                    </div>

                    <div class="input-field">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="input" type="text" />
                    </div>

                    <div class="chk-input-field">
                        <input asp-for="RememberMe" type="checkbox" class="chkBox"/>Remember Me?
                    </div>

                    <br />

                    <div class="input-field">
                        <button class="btn btn-primary input" type="submit">Login</button>
                    </div>

                    <div class="sign-up">
                        <span>
                            Don't have an account?
                            <a asp-action="Register">Click here to register</a>
                        </span>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
