@model Rentopolis.Models.Entitiy.RegisterationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/registerStyles.css" asp-append-version="true" /></head>
<body>
    <div class="wrapper">
        <div class="containr">
            <!-- Image -->
            <div class="image-box">
                <div class="text">
                    <p>Sign up to Discover Your Dream Rental!</p>
                    <p class="italic">
                        <a asp-controller="Home" asp-action="Index">Rentopolis</a>
                    </p>
                </div>
            </div>

            <!-- Form -->
            <div class="form-box">

                <h1 class="header">Create Account</h1>

                @if (ViewBag.Success == false)
                {
                    <div asp-validation-summary="All" class="alert alert-danger">
                        @if (ViewBag.Message != null)
                        {
                            <ul> <li>@ViewBag.Message</li> </ul>
                        }
                    </div>
                }
                
                <form method="post" enctype="multipart/form-data" asp-action="Register">

                    @* first name and last name*@
                    <div class="input-field-container">
                        <div class="input-field">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="input" type="text" />
                        </div>
                        
                        <div class="input-field">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="input" type="text" />
                        </div>
                    </div>

                    @* email *@
                    <div class="input-field">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="input" type="email" />
                    </div>

                    @* user name *@
                    <div class="input-field">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="input" type="text" />
                    </div>

                    @* password *@
                    <div class="input-field">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="input" type="text" />
                    </div>

                    @* confirm password *@
                    <div class="input-field">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="input" type="text" />
                    </div>

                    @* role *@
                    <div class="input-field">
                        <label asp-for="Role"></label>
                        <select class="input" asp-for="Role">
                            <option value="tenant">Tenant</option>
                            <option value="landlord">Landlord</option>
                        </select>
                    </div>

                    @* profile pic *@
                    <div class="input-field mb-3">
                        <label asp-for="ProfilePic" for="formFile" class="form-label"></label>
                        <input asp-for="ProfilePic" class="form-control" type="file" id="formFile" >
                    </div>

                    @* profile url *@
                    <input asp-for="ProfilePicUrl" value="" type="text" hidden>


                    @* button *@
                    <div class="input-field">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>

                    @* link *@
                    <div class="sign-up">
                        <span>
                            Already have an account?
                            <a asp-action="Login">Click here to login</a>
                        </span>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

</body>
</html>
