@model Rentopolis.Models.Entitiy.RegisterationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/registerStyles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <div class="containr">
            <!-- Image -->
            <div class="image-box">
                <div class="text">
                    <p>Add a new manager and let them join the family!</p>
                    <p class="italic">
                        <a asp-controller="Home" asp-action="Index">Rentopolis</a>
                    </p>
                </div>
            </div>

            <!-- Form -->
            <div class="form-box">

                <h1 class="header" style="margin-top:110px">Create Manager</h1>

                @if (ViewBag.Success == false)
                {
                    <div asp-validation-summary="All" class="alert alert-danger">
                        @if (ViewBag.Message != null)
                        {
                            <ul> <li>@ViewBag.Message</li> </ul>
                        }
                    </div>
                }

                <form method="post" asp-action="AddManager">

                    @* first name and last name*@
                    <div class="input-field-container">
                        <div class="input-field">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="input" type="text" />
                        </div>

                        <div class="input-field">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="input" type="text" />
                        </div>
                    </div>

                    @* user name *@
                    <div class="input-field">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="input" type="text" />
                    </div>

                    @* email *@
                    <div class="input-field">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="input" type="email" />
                    </div>

                    @* password *@
                    <div class="input-field">
                        <label asp-for="Password" hidden></label>
                        <input asp-for="Password" class="input" type="text" value="Manager@123" hidden />
                    </div>

                    @* confirm password *@
                    <div class="input-field">
                        <label asp-for="ConfirmPassword" hidden></label>
                        <input asp-for="ConfirmPassword" class="input" type="text" value="Manager@123" hidden />
                    </div>

                    @* role *@
                    <div class="input-field">
                        <label asp-for="Role" hidden></label>
                        <input asp-for="Role" class="input" type="text" value="Manager" hidden/>
                    </div>

                    <br />

                    @* button *@
                    <div class="input-field">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</body>
</html>
