@model Rentopolis.Models.Entitiy.NewPropertyViewModel

<div class="d-flex align-items-start w-100 mt-5">

    @* image *@
    <div class="d-flex flex-column justify-content-start col-md-4" style="height:80vh;">

        @* back button *@
        <a class="text-dark" style="margin-bottom:100px;" asp-controller="Property" asp-action="MyProperties" asp-route-id="@TempData["LandlordId"]">
            <i class="fa-solid fa-circle-left fs-2"></i>
        </a>
        
        @* image *@
        <img src="/Images/Assets/create property.png" style="width:350px" class=""/>

        @* text *@
        <p class="mb-0 text-center" style="font-size:15px;">
            Add Your Property, Start Earning.
        </p>

    </div>

    @* form *@
    <div class="col-md-8">

        <h4 class="fw-bold">
            <i class="fa-solid fa-house me-1"></i>
            Create Property
        </h4>

        @* displaying error messages *@
        @if (ViewBag.Success == false)
        {
            <div asp-validation-summary="All" class="alert alert-danger">
                @if (ViewBag.Message != null)
                {
                    <ul> <li>@ViewBag.Message</li> </ul>
                }
            </div>
        }

        <div class="mt-3">

            <form method="post" enctype="multipart/form-data" asp-action="CreateProperty" class="">

                <input type="text" asp-for="LandlordId" value="@TempData["LandlordId"]" hidden />

                @* address *@
                <div class="d-flex flex-column gap-1 mb-3">
                    <label asp-for="Address" class="text-muted" style="font-size:13px;"></label>
                    <input asp-for="Address" class="input" type="text" />
                </div>

                @* sub city *@
                <div class="d-flex flex-column gap-1 mb-3">
                    <label asp-for="City" class="text-muted" style="font-size:13px;"></label>
                    <select asp-for="City" class="form-select">
                        <option value="">Select a sub city</option>
                        <option value="Arada">Arada</option>
                        <option value="Addis-Ketema">Addis-Ketema</option>
                        <option value="Akaki-Kality">Akaki-Kality</option>
                        <option value="Bole">Bole</option>
                        <option value="Gulele">Gulele</option>
                        <option value="Kirkos">Kirkos</option>
                        <option value="Kolfe Keranio">Kolfe Keranio</option>
                        <option value="Lideta">Lideta</option>
                        <option value="Nifas Silk-Lafto">Nifas Silk-Lafto</option>
                        <option value="Yeka">Yeka</option>
                    </select>
                </div>

                @* features *@
                <div class="d-flex flex-column gap-1 mb-3">
                    <label asp-for="Features" class="text-muted" style="font-size:13px;"></label>
                    <input asp-for="Features" class="input" type="text" />
                </div>

                @* bathroom + bedroom + area + price *@
                <div class="d-flex justify-content-between">
                    @* bedroom *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="Bedroom" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="Bedroom" class="input" type="text" />
                    </div>

                    @* bathroom *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="Bathroom" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="Bathroom" class="input" type="text" />
                    </div>

                    @* area *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="Area" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="Area" class="input" type="text" />
                    </div>

                    @* price *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="PricePerMonth" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="PricePerMonth" class="input" type="text" />
                    </div>

                </div>

                @* main photo + gallery photo *@
                <div class="d-flex justify-content-between">

                    @* main photo *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:360px;">
                        <label asp-for="MainPhoto" for="formFile" class="form-label text-muted mb-0" style="font-size:13px;"></label>
                        <input asp-for="MainPhoto" class="input form-control" type="file" id="formFile">
                    </div>

                    @* main photo url *@
                    <input asp-for="MainPhotoUrl" value="" type="text" hidden>

                    @* gallery photos *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:360px;">
                        <label asp-for="GalleryPhotos" for="formFile" class="form-label text-muted mb-0" style="font-size:13px;"></label>
                        <input asp-for="GalleryPhotos" class="input form-control" type="file" id="formFile" multiple>
                    </div>

                    @* main photo url *@
                    <input asp-for="Gallery" value="" type="text" hidden>

                </div>

                <br />

                @* button *@
                <div class="d-flex">
                    <button class="btn btn-primary w-100 fw-bold" type="submit">Submit</button>
                </div>

            </form>

        </div>

    </div>

</div>
