@model Rentopolis.Models.Entitiy.UpdatePropertyInfoViewModel

<div class="d-flex align-items-start w-100 mt-5">

    @* image *@
    <div class="d-flex flex-column justify-content-start col-md-4" style="height:80vh;">

        @* back button *@
        <a class="text-dark" style="margin-bottom:100px;" asp-controller="Property" asp-action="Detail" asp-route-id="@Model.Id">
            <i class="fa-solid fa-circle-left fs-2"></i>
        </a>

        @* image *@
        <img src="/Images/Assets/edit property.png" style="width:350px" class="" />

        @* text *@
        <p class="mb-0 text-center" style="font-size:14px;">
            Update Your Property, Start Earning Better.
        </p>

    </div>

    @* form *@
    <div class="col-md-8">

        <h4 class="fw-bold">
            <i class="fa-solid fa-house me-1"></i>
            Edit Property
        </h4>

        @* displaying error messages *@
        @if (ViewBag.Success == false)
        {
            <div asp-validation-summary="All" class="alert alert-danger">
                @if (ViewBag.Message != null)
                {
                    <ul> <li>@ViewBag.Message</li> </ul>
                }
            </div>
        }

        <div class="mt-3">
            <form method="post" enctype="multipart/form-data" asp-action="EditProperty">

                @* id *@
                <input type="text" asp-for="Id" hidden/>

                @* address *@
                <div class="d-flex flex-column gap-1 mb-3">
                    <label asp-for="Address" class="text-muted" style="font-size:13px;"></label>
                    <input asp-for="Address" class="input" type="text" />
                </div>

                @* sub city *@
                <div class="d-flex flex-column gap-1 mb-3">
                    <label asp-for="City" class="text-muted" style="font-size:13px;"></label>
                    <select asp-for="City" class="form-select">
                        <option value="">Select a sub city</option>
                        <option value="Arada">Arada</option>
                        <option value="Addis-Ketema">Addis-Ketema</option>
                        <option value="Akaki-Kality">Akaki-Kality</option>
                        <option value="Bole">Bole</option>
                        <option value="Gulele">Gulele</option>
                        <option value="Kirkos">Kirkos</option>
                        <option value="Kolfe Keranio">Kolfe Keranio</option>
                        <option value="Lideta">Lideta</option>
                        <option value="Nifas Silk-Lafto">Nifas Silk-Lafto</option>
                        <option value="Yeka">Yeka</option>
                    </select>
                </div>

                @* features *@
                <div class="d-flex flex-column gap-1 mb-3">
                    <label asp-for="Features" class="text-muted" style="font-size:13px;"></label>
                    <input asp-for="Features" class="input" type="text" />
                </div>

                @* bathroom + bedroom + area + price *@
                <div class="d-flex justify-content-between">
                    @* bedroom *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="Bedroom" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="Bedroom" class="input" type="text" />
                    </div>

                    @* bathroom *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="Bathroom" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="Bathroom" class="input" type="text" />
                    </div>

                    @* area *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="Area" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="Area" class="input" type="text" />
                    </div>

                    @* price *@
                    <div class="d-flex flex-column gap-1 mb-3" style="width:170px;">
                        <label asp-for="PricePerMonth" class="text-muted" style="font-size:13px;"></label>
                        <input asp-for="PricePerMonth" class="input" type="text" />
                    </div>

                </div>

                <br />

                @* button *@
                <div class="d-flex">
                    <a class="btn btn-primary w-100 fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#confirmationModal">Save Changes</a>
                </div>

                <!-- Confirmation Modal -->
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to save changes?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Yes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>