@{
    ViewData["Title"] = "Not Found";
}

<section class="page_404">
    <div class="container_404">

        <!-- <h1 class="status text-center">404</h1> -->
        <img src="/Images/Assets/404.png" alt="404 error image" />

        <h3 class="text-center">Looks like you're lost</h3>

        <p class="text-center">The page you're looking for is not available</p>

    </div>
</section>
